@model IEnumerable<Bike.Web.Models.Make>
@using Bike.Web.Extensions;
@{
    ViewData["Title"] = "Index";
}
@*<style>
    button{margin:5px;}
    a{margin:5px;}
</style>*@

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Makes of Vehicle</h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-info" asp-action="Create"><i class="fas fa-motorcycle"></i> &nbsp;Add New Make</a>
        </div>
        <br />
        <div class="col-12 " >

            <table class="table table-striped border shadow-lg">
                <tr class="table-info">
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
            <tr>
                <td>@Html.DisplayFor(m => item.Name)</td>
                <!--<td class="text-right">
        <div class="btn-group" role="group">-->
                @*<a type="button" class="btn btn-warning" href='@Url.Action("Update", "Make")/@item.Id'>Edit</a>*@
                @*<a type="button" class="btn btn-warning" href="@Url.Action("Edit/"+item.Id)">Edit</a>*@
                @*<a type="button" class="btn btn-danger" href="@Url.Action("Delete/"+item.Id)">Delete</a>*@
                @*<a type="button" class="btn btn-danger" href='@Url.Action("Delete", "Make")/@item.Id'>Delete</a>*@

                <!--<form method="post" action="Edit">
                <a type="button" class="btn btn-warning rounded-0" href='@Url.Action("Edit", "Make")/@item.Id'><i class="far fa-edit"></i></a>
            </form>
            &nbsp;
            <form method="post" action="Delete">
                <button onclick="if (!confirm('Are y‎ou sur, y‎ou want to delete this Make ?')) { return false }" type="submit" class="btn btn-danger rounded-0" asp-action="Delete" asp-route-id="@item.Id" value="Delete"><i class="far fa-trash-alt"></i></button>
            </form>
        </div>
    </td>-->
                <partial name="_TableButtonPartial" model="item.Id" />
            </tr>

                }
            </table>

        </div>
    </div>


</div>
